*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family:Arial, Helvetica, sans-serif;
}

/* header */
    .header{
        width: 100%;
        background-color: #fff;
        display: flex;
        justify-content: space-between;
        padding-right: 30px;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 1;
    }

    .header .logo{
        margin: auto 0;
        padding: 16px 30px;
    }

    .header .logo img{
        width: 100%;
        height: 100%;
    }

    .header form{
        margin: auto 0;
    }

    .header form .input-text{
        font-size: 15px;
        line-height: 1.5;
        padding: 4px;
        border-radius: 6px;
        border: 1px solid #ccc;
        width: 250px;
    }

    .header form .input-text:focus-visible{
        outline: none;
    }

    .header form .input-text:focus-visible{
        border: 2px solid rgb(189, 15, 15);
    }

    .header form .input-submit{
        font-size: 15px;
        line-height: 1.5;
        padding: 4px 8px;
        margin-left: 20px;
        background-color: rgb(189, 15, 15);
        color: #fff;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

    .header form .input-submit:active{
        opacity: 0.6;
        transform:scale(0.9);
    }

/* navigation */
    .nav{
        background: rgb(32, 25, 25);
        border-bottom: 4px solid rgb(189, 15, 15);
        margin-top: 100px;
        display: flex;
        align-self: center;
        justify-content: space-between;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 1;
    }

    .nav i{
        color: #fff;
        font-size: 30px;
        vertical-align: middle;
        margin: 12px;
        display: none;
    }

    .nav ul{
        display: flex;
        align-self: center;
        list-style: none;
    }

    .nav ul li{

    }

    .nav ul li:hover{
        background: rgb(189, 15, 15);
    }

    .nav ul li a{
        display: block;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 15px;
        line-height: 1.5;
        color: #fff;
        font-weight: 500;
        padding: 10px 20px;
    }

    .nav form{
        display: none;
        align-self: center;
        padding-right: 30px;
    }

    .nav form .input-text{
        font-size: 15px;
        line-height: 1.5;
        border-radius: 6px;
        border: 1px solid #ccc;
        width: 250px;
    }

    .nav form .input-text:focus-visible{
        outline: none;
    }

    .nav form .input-text:focus-visible{
        border: 2px solid rgb(189, 15, 15);
    }

    .nav form .input-submit{
        font-size: 15px;
        line-height: 1.5;
        padding: 4px 8px;
        margin-left: 20px;
        background-color: rgb(189, 15, 15);
        color: #fff;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

    .nav form .input-submit:active{
        opacity: 0.6;
        transform:scale(0.9);
    }

    /* banner */
    .banner{
        padding-top: 30.703125%;
        background: url('/images/bn.png') no-repeat center / contain;
        position: relative;
        margin-top: 146px;
    }
    
    .banner .banner-title{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        padding-left: 50px;
        color: #fff;
    
        
    }
    
    .banner .banner-title h3{
        font-size: 24px;
        font-weight: 400;
        line-height: 2.0;
        width: 100%;
    }
    
    .banner .banner-title p{
        font-size: 16px;
        font-weight: 400;
        line-height: 1.6;
        display: inline-block;
        padding: 10px 0;
        width: 100%;
    }
    
    .banner .banner-title .banner-btn{
        background-color: rgb(189, 15, 15);
        width: 80px;
        border-radius: 4px;
        margin-top: 12px;
    }
    
    .banner .banner-title .banner-btn:hover{
        cursor: pointer;
    }
    
    .banner .banner-title .banner-btn:active{
        opacity: 0.6;
        transform:scale(0.9);
    }
    
    .banner .banner-title .banner-btn p{
        text-align: center;
        width: 100%;
        font-size: 15px;
        padding: 4px 0;
    }
/* body */
    .body{
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
    }

        /* side-bar */
            .side-bar{
                width: 20%;
                padding-top: 8px;
            }

            .side-bar .image{
                padding: 8px 8px 8px 0;
            }
            
            .side-bar .image img{
                width: 100%;
                height: 100%;
            }

        /* main */
            .main{
                width: 80%;
                background: #fff;
            }

            .main .phan-loai{
                display: flex;
                justify-content: center;
            }

            .main .phan-loai h3{
                display: inline-block;
                text-align: center;
                padding: 16px 0 0 0;
                margin-bottom: 16px;
                font-size: 16px;
                font-weight: 500;
                line-height: 1.5;
                border-bottom: 2px solid rgb(189, 15, 15);
            }

            .main .list-sp{
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
            }

            .main .list-sp .san-pham{
                width: 32%;
                border: 1px solid #ccc;
                margin-bottom: 16px;
            }

            .main .list-sp .san-pham:hover{
                box-shadow: 0 0 10px rgba(189, 15, 15, 0.8);
                transform: scale(1.01);
                transition: 0.2s;
            }

            .main .list-sp .san-pham img{
                display: block;
                width: 100%;
            }

            .main .list-sp .san-pham p{
                font-size: 15px;
                line-height: 1.5;
                font-weight: 500;
                padding: 8px 0;
                text-align: center;
            }

            .main .xem-them{
                background: rgb(189, 15, 15);
                width: 100px;
                border-radius: 4px;
                margin: 0 auto 12px;
            }

            .main .xem-them:active{
                opacity: 0.6;
                transform:scale(0.9);
            }
            
            .main .xem-them:hover{
                cursor: pointer;
            }

            .main .xem-them p{
                font-size: 15px;
                line-height: 1.5;
                font-weight: 500;
                color: #fff;
                padding: 4px;
                width: 100%;
                text-align: center;
            }

/* footer */
    .footer{
        width: 100%;
        display: flex;
        background: rgb(32, 25, 25);
        color: #fff;
        padding: 20px 50px;
    }

    .footer h3{
        font-size: 20px;
        padding-bottom: 16px;
    }

    .footer .info{
        margin-right: 50px;
    }

    .footer .info p{
        font-size: 16px;
        line-height: 2;
    }

    .footer .info i{
        display: inline-block;
        font-size: 16px;
        padding-right: 16px;
    }

    .footer .show .anh img{
        margin-right: 16px;
        margin-bottom: 16px;
    }

/* --------Responsive------- */

   /* PC có màn hình độ phân giải thấp*/
    @media only screen and (min-width: 1024px) and (max-width: 1239px){
        /* header */
        .header{
            background-color: rgb(43, 225, 238);
        }

        /* body */
        .body{
            max-width: 980px;
        }

    }

    /* Taplet */
    @media only screen and (min-width: 740px) and (max-width: 1023px){
        /* header */
        .header{
            background-color: rgb(217, 255, 0);
        }

        /* body */
        .body{
            max-width: 650px;
        }
            /* side-bar */
            .side-bar{
                width: 25%;
            }

            /* main */
            .main{
                width: 75%;
            }

            .main .list-sp .san-pham{
                width: 48%;
            }

        /* footer */
        .footer{
            flex-wrap: wrap;
        }

        .footer .info,
        .footer .show{
            width: 100%;
            padding-left: 100px;
        }
        
        .footer .info{
            margin-bottom: 20px;
        }

    }
    /* Mobile */
    @media only screen and (min-width: 320px) and (max-width: 739px){
        /* header */
        .header{
            background-color: chartreuse;
            display: flex;
            justify-content: center;
        }

        .header .logo{
            padding: 8px 10px;
        }

        .header form .input-text,
        .header form .input-submit{
            display: none;
        }


        /* navigation */
        .nav{
            margin-top: 84px;
            display: flex;
        }

        .nav i{
            display: block;
        }

        .nav ul{
            display: none;
        }

        .nav form{
            display: flex;
        }

        /* banner */
        .banner .banner-title{
            display: none;
        }

        /* body */

            /* side-bar */
            .side-bar{
                display: none;
            }

            /* main */
            .main{
                width: 100%;
                margin: 0 8px;
            }

            .main .list-sp .san-pham{
                width: 48%;
            }

        /* footer */
        .footer{
            padding-left: 8px;
        }

        .footer .show{
            display: none;
        }
        
        .footer .info{
            margin-bottom: 20px;
        }
    }